@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    box-sizing: border-box;
}

:root{
    --my-color: #dd7230;
    --text-color: #f1dabf;
    --bg-color: #04030f;
}

body{
    /* font-family: 'Marck Script', cursive; */
    font-family: 'Russo One', sans-serif;
    font-family: 'Marck Script', cursive;
    background-color: var(--bg-color);
    color:var(--text-color)
}

#status1{
    display: none;
    text-align: center;
    color: chartreuse;
    font-size: 0.8rem;
    font-weight:bolder;
    animation: blinker1 1s linear infinite;
}

#status2{
    display: none;
    text-align: center;
    color:red;
    font-size: 0.8rem;
    font-weight:bolder;
    animation: blinker2 1s linear infinite;
}
@keyframes blinker1 {
    50%{color: transparent;}
    100%{color: chartreuse;}
}

@keyframes blinker2 {
    50%{color: transparent;}
    100%{color: red;}
}

/* =============================================== */
/* ||                   NAV BAR                 || */
/* =============================================== */

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.navbar-brand img{
    position: relative;
    margin: 0 auto;
    transition: 0.5s;
}

.navbar-brand img:hover{
    transform: scale(1.3);
}

#nav-bar .navbar-toggler {
    border-color: grey;
}

#nav-bar ul li{
    padding: 0 15px;
}

#nav-bar ul li a{
    float: right;
    text-align: center;
    transition: 0.5s;
    color: var(--text-color);
}
#nav-bar ul li .menu-short{
    font-weight: bold;
    /* animation: pulse .8s infinite ease; */
}

/* @keyframes pulse {
    from{color: var(--text-color);}
    to{color: var(--my-color);}
} */
.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

#nav-bar ul li a:hover{
    transform: scale(1.3);
    color: var(--my-color);
}

.nav-bar{
    background-color: transparent;
    align-items: center;
}

.navbar-toggler{
    border: none;
}

.nav-link{
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.header-phone, .header-mail{
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    position: relative;
    display: inline-block;
}

.cart-button{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: 0.5s;
    margin-right: 1rem;
    position: relative;
}
.cart-button > .index{
    position: absolute;
    width: 17px;
    height: 17px;
    top:0;
    border: 1px solid black;
    background-color: var(--my-color);
    border-radius: 50%;
    font-size: .7rem;
    text-align: center;
}
.cart-button:hover{
    transform: scale(1.2);
    color: var(--my-color);
}

.cart-button.shake {
    -webkit-animation: shakeCart .4s ease-in-out forwards;
            animation: shakeCart .4s ease-in-out forwards;
  }
  
  @-webkit-keyframes xAxis {
    100% {
      -webkit-transform: translateX(calc(50vw - 105px));
              transform: translateX(calc(50vw - 105px));
    }
  }
  
  @keyframes xAxis {
    100% {
      -webkit-transform: translateX(calc(50vw - 105px));
              transform: translateX(calc(50vw - 105px));
    }
  }
  
  @-webkit-keyframes yAxis {
    100% {
      -webkit-transform: translateY(calc(-50vh + 75px));
              transform: translateY(calc(-50vh + 75px));
    }
  }
  
  @keyframes yAxis {
    100% {
      -webkit-transform: translateY(calc(-50vh + 75px));
              transform: translateY(calc(-50vh + 75px));
    }
  }
  
  @-webkit-keyframes shakeCart {
    25% {
      -webkit-transform: translateX(6px);
              transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-4px);
              transform: translateX(-4px);
              /* transform: scale(1.2); */
              color: var(--my-color);
    }
    75% {
      -webkit-transform: translateX(2px);
              transform: translateX(2px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);

    }
  }
  
  @keyframes shakeCart {
    25% {
      -webkit-transform: translateX(6px);
              transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-4px);
              transform: translateX(-4px);
              /* transform: scale(1.2); */
              color: var(--my-color);
    }
    75% {
      -webkit-transform: translateX(2px);
              transform: translateX(2px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


/* =============================================== */
/* ||                 SLIDE BAR                 || */
/* =============================================== */

.picture img{
    display: block;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.2)));
}



/* =============================================== */
/* ||                    CART                   || */
/* =============================================== */

#cart{
    display: none;
}

.content-section{
    font-family: 'Russo One', sans-serif;
    padding-top: 15%;
}

.section-header{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 3rem;
}

.cart-header{
    font-size: 1.2rem;
    color: var(--text-color);
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--my-color);
    margin-right: 1.1rem;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row{
    display: flex;
    justify-content: center;
}

.cart-item{
    margin-left: .5rem;
    width: 40%;

}

.cart-price{
    width: 20%;
    color: var(--text-color);
    justify-content: center;
}

.cart-quantity{
    width: 30%;
    justify-content: center;

}

.cart-item-title{
    color: var(--text-color);
    /* margin-left: 1.2rem; */
    font-size: 1rem;
}

.btn{
    border-radius: 50%;
}

.btn-delete{
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
    background-color: #EB5757;
    border-radius: 50%;
    border-color: var(--text-color);
}

.btn-delete:hover{
    background-color: #cc4c4c;
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid var(--my-color);
    background-color: white;
    color:#333;
    text-align: center;
    font-size: 1rem;
    margin-right: 20px;
}

.cart-row:last-child{
    border-bottom: 3px solid var(--my-color);
}

.cart-row:last-child .cart-column{
    border: none;
}
.dostavka{
    display: block;
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 3%
}

.cart-total{
    text-align: center;
    margin-top: 30px;
}

.cart-total-title{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 20px;
}

.cart-total-price{
    color: var(--text-color);
    font-size: 1.5rem;
}

.btn-purchase{
    display:none;
    position:relative;
    color: var(--text-color);
    margin: 40px auto auto auto;
    box-shadow: 2px 2px 20px 10px rgb(9 109 9) inset;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .cart-item-title{
      font-size: 0.7rem;
    }
    .cart-quantity-input{
        height: 25px;
        width: 30px;
    }
    .btn-delete{
        height: 1.6rem;
        width: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    .cart-item-title{
      font-size: 0.7rem;
    }
    .cart-quantity-input{
        height: 25px;
        width: 30px;
    }
    .btn-delete{
        height: 1.6rem;
        width: 1.6rem;
    }
}
.info{
    color: red;
    text-align: center;
}

/* =============================================== */
/* ||                    FORM                   || */
/* =============================================== */

.header-form{
    margin-top: 2%;
    text-align: center;
    font-size: 1.1rem;
    color: var(--my-color);
}
.summary{
    display: none;
}
.summary p{
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 5%;
    border: 10px solid var(--my-color);
    color: var(--text-color);
    background-color: var(--my-color);
    font-size: 1.3rem;
}
.summary::marker{
    color: var(--bg-color);
}

details[open] summary ~ * {
    animation: sweep 0.8s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -200px}
    100%  {opacity: 1; margin-top: 10px}
}

.here{
    color: var(--my-color);
}
.required{
    text-align: center;
    color:var(--text-color);
    font-size: .8rem;
    font-family: none;
}
.client-info{
    display: flex;
    align-items: center;
    margin: 0 20%;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}
#dopalnitelno{
    margin-top:3%;
    width: 100%;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    border: 1px solid var(--my-color);
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.submit{
    background-color: var(--my-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 25px;
    margin: 5% auto 0 auto;
    padding: 1.5% 1.5%;
}
#first, #last, #tel, #address, #adress-number, #blok, #vhod{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--my-color);
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
}



.load {
    text-align: center;
    background-color: transparent;
    color: white;
    margin: 0 auto;
    padding: 1.5% 1.5%;
    text-align: center;
}
  
.fa {
    margin-left: -12px;
    margin-right: 8px;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    text-align: center;
}

/* =============================================== */
/* ||                     MENU                  || */
/* =============================================== */


.section-padding{
    padding: 10px 0px;
}

.marb-35{
    margin-bottom: 8%;
}

.header-h{
    font-size: 60px;
    color: var(--text-color);
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
    text-shadow: 3px 3px 3px grey;
    letter-spacing: 5px;
    margin-top: 10%;
}
.scrollInfo{
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
}

#menu-filters{
    overflow: auto;
    white-space: nowrap;
}

.menu-filters ul li:hover {
    background-color: transparent;
}

#menu-filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 0;
}

#menu-filters ul div{
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    border: 1px solid var(--my-color);

}
.text{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    
}

#menu-filters ul div img{
    max-width: 180px;
    max-height: 120px;
    display: inline-block;
}

#menu-filters ul li:hover{
    background-color: var(--my-color);
    color: var(--text-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
}
.picked{
    background-color: var(--my-color);
}
.picked>.text{
    background-color: var(--my-color)
}

.menu-wrapper{
    padding-top: 2rem;
    display: block;
}

.menu-restaurant{
    position: relative;
    width: 50%;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
    background-color: transparent;
    box-shadow: 0 10px 20px black;
}

.menu-restaurant .menu-title{
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    max-width: 100%;
    background-color: transparent;
}

.menu-restaurant .menu-subtitle{
    font-family: 'Marck Script', cursive;
    color: #8f8e8e;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.menu-restaurant .menu-price{
    /* font-family: 'Russo One', sans-serif; */
    font-family: 'Marck Script', cursive;
    font-weight: 600;
    position: relative;
    right: 15%;
    bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--my-color);
    display: inline-block;
    border-top: 0.25px solid var(--text-color);
    border-bottom: 0.25px solid var(--text-color);
}

.old-price{
    text-decoration:line-through;
    opacity: 0.4;
}

.menu-restaurant .buy-button{
    position: relative;
    left: 15%;
    bottom: 0;
    background-color: transparent;
    border: none;
}
.menu-restaurant .buy-button i{
    font-size: 1.5rem;
    background-color: transparent;
    color:var(--my-color);
    z-index: 100;
    transition: 0.3s;
}
.menu-restaurant .buy-button i:hover{
    transform: scale(1.5);
}

/* =============================================== */
/* ||                   GOOGLE                  || */
/* =============================================== */

#google{
    text-align: center;
    margin-top: 50px;
    margin: 10% 0;
}

/* =============================================== */
/* ||                   FOOTER                  || */
/* =============================================== */


#footer-section{
    border-top: .5px solid white;
}
.clearfix{
    display: none;
}
.page-footer{

    color: var(--text-color);
}

.white-text a{
    text-decoration: none;
    color: var(--text-color);
}
.white-text a:hover{
    color: var(--my-color);
}

.mt-3:last-child{
    border-left: 1px dotted grey;
}

.footer-copyright{
    color: var(--text-color);
    background-color: rgb(0, 0, 0);
}

/*      slider         */

body {
  font-family: "Muli", sans-serif;
}

h2 {
  margin: 15px;
  padding: 0;
}

.o-wrapper {
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 50px;
}

.c-slider {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 770px;
}

.c-slide {
  font-weight: normal;
  margin-right: 20px;
  background: #FFFFFF;
  border-radius: 3px;
  border-left: 10px solid #FCEDB7;
  padding: 20px; 
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.c-slide--salad {
  border-color: #A3CCB6;
}

.c-slide--dinner {
  border-color: #EC7871;
}

.c-slide__content {
  width: 100%;
}

.c-slide__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.c-slide__image-wrapper {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  height: 0;
  padding-top: 66%;
  position: relative;
}

.c-slide__image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  padding: 0;
  transform: translate3d(-50%, -50%, 0);
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-drag {
  opacity: 0.2;
}